In [1]:
import pandas as pd

# 분할된 데이터 불러오기
amazon_split_train = pd.read_csv("../01_data/02_processed/sandbox/splits/X_train.csv")
amazon_split_test = pd.read_csv("../01_data/02_processed/sandbox/splits/X_test.csv")
amazon_split_train.head()

,Agent_Age,Agent_Rating,Weather,Traffic,Distance,Pickup_Wait_Time,Vehicle_scooter,Vehicle_van,Area_Metropolitian,Area_Other,...,Category_Home,Category_Jewelry,Category_Kitchen,Category_Outdoors,Category_Pet Supplies,Category_Shoes,Category_Skincare,Category_Snacks,Category_Sports,Category_Toys
0,39,5.0,Sunny,Low,3.064486,5.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
1,38,4.1,Stormy,Medium,4.538408,10.0,True,False,True,False,...,False,False,False,False,False,False,False,True,False,False
2,26,4.9,Sunny,Low,17.297866,10.0,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
3,20,4.8,Stormy,Low,13.611172,5.0,False,True,True,False,...,False,True,False,False,False,False,False,False,False,False
4,29,4.7,Cloudy,Low,10.707345,5.0,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [2]:
# 분할된 데이터 각각에 임시 이름 붙이기 (df1 = train, df2 = test)
df1 = amazon_split_train.copy()
df2 = amazon_split_test.copy()

In [3]:
# 교통 상황과 날씨 변수를 점수화
traffic_map = {"Low":1, "Medium":2, "High":3, "Jam":4}
weather_map = {"Sunny":1, "Cloudy":2, "Windy":3, "Fog":4, "Stormy":5, "Sandstorms":6}

df1["Traffic_score"] = df1["Traffic"].map(traffic_map)
df2["Traffic_score"] = df2["Traffic"].map(traffic_map)

df1["Weather_score"] = df1["Weather"].map(weather_map)
df2["Weather_score"] = df2["Weather"].map(weather_map)

# 원본 열 제거
df1 = df1.drop(["Traffic", "Weather"], axis=1)
df2 = df2.drop(["Traffic", "Weather"], axis=1)
df1.head(50000)

,Agent_Age,Agent_Rating,Distance,Pickup_Wait_Time,Vehicle_scooter,Vehicle_van,Area_Metropolitian,Area_Other,Area_Semi_Urban,Category_Apparel,...,Category_Kitchen,Category_Outdoors,Category_Pet Supplies,Category_Shoes,Category_Skincare,Category_Snacks,Category_Sports,Category_Toys,Traffic_score,Weather_score
0,39,5.0,3.064486,5.0,True,False,True,False,False,False,...,False,False,False,True,False,False,False,False,1,1
1,38,4.1,4.538408,10.0,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,2,5
2,26,4.9,17.297866,10.0,True,False,True,False,False,False,...,False,False,False,True,False,False,False,False,1,1
3,20,4.8,13.611172,5.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,1,5
4,29,4.7,10.707345,5.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34749,29,4.6,6.147384,10.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,1
34750,35,4.0,4.663419,15.0,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,4,3
34751,33,4.6,9.074486,5.0,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,2,6
34752,31,4.5,10.868240,10.0,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,4,1
34753,22,4.7,6.217824,10.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,3,4

In [4]:
# 결측치를 제거하고 인덱스 번호 맞추기
df1 = df1.dropna(subset=["Traffic_score", "Weather_score"]).reset_index(drop=True)
df2 = df2.dropna(subset=["Traffic_score", "Weather_score"]).reset_index(drop=True)
df1.head(50000)

,Agent_Age,Agent_Rating,Distance,Pickup_Wait_Time,Vehicle_scooter,Vehicle_van,Area_Metropolitian,Area_Other,Area_Semi_Urban,Category_Apparel,...,Category_Kitchen,Category_Outdoors,Category_Pet Supplies,Category_Shoes,Category_Skincare,Category_Snacks,Category_Sports,Category_Toys,Traffic_score,Weather_score
0,39,5.0,3.064486,5.0,True,False,True,False,False,False,...,False,False,False,True,False,False,False,False,1,1
1,38,4.1,4.538408,10.0,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,2,5
2,26,4.9,17.297866,10.0,True,False,True,False,False,False,...,False,False,False,True,False,False,False,False,1,1
3,20,4.8,13.611172,5.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,1,5
4,29,4.7,10.707345,5.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34749,29,4.6,6.147384,10.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,1
34750,35,4.0,4.663419,15.0,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,4,3
34751,33,4.6,9.074486,5.0,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,2,6
34752,31,4.5,10.868240,10.0,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,4,1
34753,22,4.7,6.217824,10.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,3,4

In [5]:
# score_all 데이터 셋 저장
df1.to_csv("../01_data/02_processed/sandbox/variants/X_train_score_all.csv", index=False, encoding="utf-8-sig")
df2.to_csv("../01_data/02_processed/sandbox/variants/X_test_score_all.csv", index=False, encoding="utf-8-sig")

In [6]:
# 필요한 열만 선택
df3 = df1[["Distance", "Pickup_Wait_Time", "Traffic_score", "Weather_score", "Vehicle_scooter", 
           "Vehicle_van", "Area_Metropolitian", "Area_Other", "Area_Semi_Urban"]].copy()
df4 = df2[["Distance", "Pickup_Wait_Time", "Traffic_score", "Weather_score", "Vehicle_scooter", 
           "Vehicle_van", "Area_Metropolitian", "Area_Other", "Area_Semi_Urban"]].copy()
df3.head(50000)

,Distance,Pickup_Wait_Time,Traffic_score,Weather_score,Vehicle_scooter,Vehicle_van,Area_Metropolitian,Area_Other,Area_Semi_Urban
0,3.064486,5.0,1,1,True,False,True,False,False
1,4.538408,10.0,2,5,True,False,True,False,False
2,17.297866,10.0,1,1,True,False,True,False,False
3,13.611172,5.0,1,5,False,True,True,False,False
4,10.707345,5.0,1,2,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...
34749,6.147384,10.0,2,1,False,False,False,False,False
34750,4.663419,15.0,4,3,True,False,True,False,False
34751,9.074486,5.0,2,6,False,False,True,False,False
34752,10.868240,10.0,4,1,False,False,True,False,False
34753,6.217824,10.0,3,4,False,True,True,False,False

In [7]:
# score_structural 데이터 셋 저장
df3.to_csv("../01_data/02_processed/sandbox/variants/X_train_score_structural.csv", index=False, encoding="utf-8-sig")
df4.to_csv("../01_data/02_processed/sandbox/variants/X_test_score_structural.csv", index=False, encoding="utf-8-sig")